---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');


.awesome{
  font-family: 'Gamja Flower', cursive;
  color: red;
}

.awesome1{
  font-family: 'Love Ya Like A Sister', cursive;
}


.awesome2{
  font-family: 'Vollkorn', serif;

}
