<!DOCTYPE html>
<html>
	<head>
		<title>Kammy Deng, Data Analyst, Aspiring Data Scientist</title>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/About">About</a></li>
        		<li><a href="/Resume">Resume</a></li>
        		<li><a href="/Projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Kammy Deng!</h1>
				<p>I'm best known xxxx <em>A Touch of Evil</em> Don't trust me. <a href="/About">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:kbdeng18@gmail.com">email</a></li>
        		<li><a href="https://github.com/kammybdeng">github.com/kammybdeng</a></li>
			</ul>
		</footer>
	</body>
</html>
